{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.png" rel="icon" type="image/png">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>

<body>
            <header>
                <div class="header_inner">
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo" class=" uk-hidden@s">
                            <a href="/">
                                <b><h1 style="text-transform: uppercase;">Arts Heritage.com</h1></b>
                            </a>
                        </div>

                        <div class="triger" uk-toggle="target: #wrapper ; cls: sidebar-active">
                            <i class="uil-bars"></i>
                        </div>
                       
                        <div class="header_search">
                            <a href="/">
                                <b><h1 style="font-size: 1.5rem;">Arts Heritage.com</h1></b>
                             </a>
                          
                        </div>
                
            </header>

            <div class="container m-auto">

                

                <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

                    <!-- left sidebar-->
                    <div class="space-y-5 flex-shrink-0 lg:w-7/12">

                        <!-- post 1-->
                        <h2><font size="5px"><b> Update the Uploads</b></font></h2>
                        
                        <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0">
                            
    
                            <!-- post header-->
                            <div class="flex justify-between items-center px-4 py-3">
                                <div class="flex flex-1 items-center space-x-4">
                                   
                                    <span class="block capitalize font-semibold ">{{post.user}}</span>
                                </div>
                             
                            </div>
    
                            <div class="uk-inline">
                                <a href="#" id="thumbnail" class="uk-padding-small">
                                    <img src="{{ post.image.url }}" alt="{{ post.caption }}">
                                </a>
                               
                            </div>
                           
    
                            <div class="py-3 px-4 space-y-3"> 
                               <b>Description About Picture From the {{post.user}}:</b>
                                <br>
                                {{post.caption}}
                            </div>
                            <center>
                                <form action="updatepost/{{post.id}}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    
                                    <div uk-form-custom>
                                        <input type="file" name="upload_file" id="upload-file">
                                        <label for="upload-file" class="button soft-warning small -ml-2">Choose file</label>
                                    </div>
                                    <br>
                                    <br>
                                    <label>Enter Your Caption</label>
                                    <input name='caption' placeholder="Write Your Caption">
                                    <br>
                                    <button class="button soft-warning -ml-2" type="submit">Update Post</button>
                                </form>
                                
                           
                        </center>
    
                        
                        
    
     
                        
                        <!-- Load more-->
                   

                    </div> 

                

                </div>               
          

            </div>

        </div>

    </div>








 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html>